doc/dev/*.html
doc/dev/*.txt
doc/dev/*.css
doc/dev/*.js
doc/dev/dev.aux
doc/dev/dev.bbl
doc/dev/dev.blg
doc/dev/dev.idx
doc/dev/dev.ilg
doc/dev/dev.ind
doc/dev/dev.log
doc/dev/dev.out
doc/dev/dev.pnr
doc/dev/dev.tex
doc/dev/dev.toc
doc/*/manual.lab
doc/*/manual.pdf
doc/*/manual.six
